/* Border box: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: border-box; }

/* Clear fix: http://davidwalsh.name/css-clear-fix */
body {
  margin: 0;
  background: #EDEDEE;
  -webkit-font-smoothing: antialiased; }

.story {
  margin-top: 30px;
  margin-left: 40px;
  width: 240px;
  position: absolute;
  top: 0;
  z-index: 30; }
  .story::after {
    content: " ";
    height: 30px;
    width: 240px;
    display: block;
    position: fixed;
    top: 0;
    background: rgba(237, 237, 238, 0.95); }
  .story .chapter {
    position: relative;
    padding: 180px 0 80px;
    -webkit-transition: color 450ms, opacity 450ms;
    transition: color 450ms, opacity 450ms;
    opacity: 0.25; }
    .story .chapter.top h1 {
      position: fixed;
      top: 30px; }
    .story .chapter:not(.active) {
      color: #A6A6AC !important; }
    .story .chapter .caption {
      font-family: 'Libre Baskerville', serif;
      color: #797980;
      font-style: italic;
      font-size: 9px;
      line-height: 15px;
      letter-spacing: .09em; }
  .story .chapter.active {
    opacity: 1; }
  .story .cover {
    color: #0075CA; }
  .story .introduction {
    color: #FF0055; }
  .story .ethnicity {
    color: #FF9C00; }
  .story .education {
    color: #E8CC4D; }
  .story .economic-insecurity {
    color: #00C775; }
  .story .health {
    color: #0075CA; }
  .story .conclusion {
    color: #9843A0; }
  .story h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    padding-top: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    border-width: 0;
    border-color: #A6A6AC;
    border-style: solid;
    border-top-width: 1px;
    margin-top: 0;
    letter-spacing: .03em;
    width: 240px;
    height: 36px;
    background: rgba(237, 237, 238, 0.95);
    position: absolute;
    top: 0;
    z-index: 1; }
    .story h1 a {
      color: inherit;
      text-decoration: none; }
  .story p {
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
    line-height: 18px;
    margin: 17px 0 0;
    letter-spacing: .02em;
    color: #38383C; }
  .story .show-me {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    color: inherit;
    letter-spacing: .03em; }
    .story .show-me::after {
      content: "Show me";
      opacity: 1;
      -webkit-transition: opacity 150ms;
      transition: opacity 150ms; }
    .story .show-me:hover::after {
      opacity: 0.5; }
    .story .show-me.current::after {
      content: "As shown";
      opacity: 0.5;
      cursor: default; }
  .story .arrow {
    position: fixed;
    bottom: 0;
    width: 240px;
    -webkit-transition: width 1000ms;
    transition: width 1000ms;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 23px;
    background: rgba(237, 237, 238, 0.9);
    z-index: 10; }
    .story .arrow.cover {
      z-index: -1; }
    .story .arrow svg {
      fill: none;
      stroke-width: 2px;
      stroke-opacity: 0.5;
      -webkit-transition: stroke-opacity 150ms;
      transition: stroke-opacity 150ms;
      cursor: pointer; }
      .story .arrow svg:hover {
        stroke-opacity: 1; }
    .story .arrow.cover svg:not(:hover) {
      -webkit-animation: pulse 1000ms infinite;
      animation: pulse 1000ms infinite; }

@-webkit-keyframes pulse {
  0% {
    stroke-opacity: 1; }
  100% {
    stroke-opacity: 0.2; } }

@keyframes pulse {
  0% {
    stroke-opacity: 1; }
  100% {
    stroke-opacity: 0.2; } }
.visualization {
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 40px;
  margin-bottom: 30px;
  position: fixed;
  left: 280px;
  right: 0;
  top: 0;
  bottom: 0; }
  .visualization .header {
    border-top: 1px solid #A6A6AC;
    padding-top: 5px;
    height: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px; }
    .visualization .header h2 {
      margin-top: 0;
      color: #797980;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: .03em; }
      .visualization .header h2.cover {
        color: #0075CA;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: .01em; }
      .visualization .header h2:not(.cover) .line {
        height: 16px; }
    .visualization .header .countySecondaryChartNotation {
      float: right; }
      .visualization .header .countySecondaryChartNotation .countySecondaryChartLegend {
        text-transform: uppercase;
        color: #A6A6AC;
        width: 97px;
        padding: 2px 6px 6px;
        font-size: 10px;
        line-height: 12px;
        font-weight: bold;
        letter-spacing: .03em; }
      .visualization .header .countySecondaryChartNotation .protected {
        margin-top: 4px;
        -webkit-transition: margin-top 450ms;
        transition: margin-top 450ms; }
        .visualization .header .countySecondaryChartNotation .protected.ethnicity {
          margin-top: 30px; }
        .visualization .header .countySecondaryChartNotation .protected .value {
          float: left;
          display: inline-block;
          width: 11px;
          height: 11px;
          margin-bottom: 2px;
          background: none;
          border: 1px #38383C solid; }
        .visualization .header .countySecondaryChartNotation .protected .label {
          margin-left: 18px;
          position: relative;
          top: -2px; }
    .visualization .header .chartNotation {
      float: right; }
    .visualization .header .legend {
      text-transform: uppercase;
      color: #A6A6AC;
      width: 97px;
      padding: 2px 6px 6px;
      font-size: 10px;
      line-height: 12px;
      font-weight: bold;
      letter-spacing: .03em; }
      .visualization .header .legend.pies {
        width: 210px; }
      .visualization .header .legend.timeline {
        width: 182px; }
      .visualization .header .legend.map {
        width: 157px; }
      .visualization .header .legend.msm {
        width: 136px; }
      .visualization .header .legend .color {
        margin-top: 4px; }
        .visualization .header .legend .color::before, .visualization .header .legend .color::after {
          content: " ";
          display: table; }
        .visualization .header .legend .color::after {
          clear: both; }
      .visualization .header .legend .values {
        float: left;
        margin-right: 9px; }
      .visualization .header .legend .value {
        display: inline-block;
        width: 11px;
        height: 11px;
        margin-bottom: 2px; }
      .visualization .header .legend.timeline .value {
        height: 4px;
        margin: 3px 0 6px; }
      .visualization .header .legend .label {
        margin-left: 20px;
        margin-top: -1px; }
    .visualization .header .share-btns {
      width: 60px;
      height: 40px;
      float: right;
      text-align: right;
      margin-top: -1px; }
      .visualization .header .share-btns a {
        display: inline-block;
        -webkit-transition: background 600ms, opacity 100ms;
        transition: background 600ms, opacity 100ms;
        z-index: 100;
        position: relative;
        cursor: pointer;
        opacity: 1;
        width: 22px;
        height: 22px; }
        .visualization .header .share-btns a:hover {
          opacity: 0.67; }
      .visualization .header .share-btns .fb {
        width: 16px; }
      .visualization .header .share-btns .twitter {
        width: 17px;
        height: 21px; }
      .visualization .header .share-btns .email {
        width: 16px;
        height: 21px; }
  .visualization .chart-container {
    position: absolute;
    top: 0px;
    bottom: 30px;
    left: 0px;
    right: 0px;
    -webkit-transition-property: none;
    transition-property: none;
    -webkit-transition-duration: 450ms;
    transition-duration: 450ms; }
  .visualization .chart-container.cover {
    position: absolute;
    top: 0px;
    bottom: 30px;
    left: -300px;
    right: 0px; }
  .visualization .attribution {
    font-family: 'Libre Baskerville', serif;
    color: #797980;
    font-style: italic;
    font-size: 9px;
    line-height: 15px;
    letter-spacing: .09em;
    position: absolute;
    left: 0;
    bottom: 0; }

.credits {
  position: absolute;
  left: 0;
  bottom: 34px;
  width: 320px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: .03em;
  color: #797980; }

.credit-two-n {
  position: fixed;
  left: 40px;
  bottom: 0;
  width: 280px;
  height: 68px;
  padding-top: 15px;
  background: rgba(237, 237, 238, 0.95);
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: .03em;
  color: #A6A6AC; }
  .credit-two-n:not(.visible) {
    display: none;
    opacity: 0; }
  .credit-two-n span {
    float: left; }
  .credit-two-n .two-n-logo {
    float: left;
    background: url(../assets/2n_logo.png) -11px -11px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-top: -3px;
    margin-left: 6px;
    opacity: 0.33;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms; }
    .credit-two-n .two-n-logo:hover {
      opacity: 0.67; }

.nav {
  position: fixed;
  right: 21px;
  top: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .nav g {
    cursor: pointer; }
  .nav g:not(.current):not(:hover) circle.visible {
    fill: #D1D1D4 !important;
    -webkit-transition: fill 300ms;
    transition: fill 300ms; }

#vectorMap {
  stroke: white;
  stroke-width: 1;
  -webkit-transition: fill 600ms, stroke 600ms, fill-opacity 600ms, stroke-opacity 600ms;
  transition: fill 600ms, stroke 600ms, fill-opacity 600ms, stroke-opacity 600ms;
  y: 90; }
  #vectorMap .county {
    stroke: none;
    fill: #ED8F28; }
    #vectorMap .county.hidden {
      opacity: 0;
      pointer-events: none; }
  #vectorMap .overlayCounty {
    pointer-events: none;
    stroke: "#fff";
    fill-opacity: 0; }
  #vectorMap .state {
    fill: #FFF;
    -webkit-transition: fill 150ms;
    transition: fill 150ms; }
    #vectorMap .state.no {
      fill: #FFFFFF;
      stroke: #DDD; }
    #vectorMap .state.sogi {
      fill: #FF0055; }
    #vectorMap .state.so {
      fill: #FF7D96; }
    #vectorMap .state.nofill {
      fill-opacity: 0;
      stroke-width: 1.5;
      pointer-events: none;
      stroke: #D1D1D4;
      stroke-width: 1; }
      #vectorMap .state.nofill.protected {
        stroke: #797980; }
    #vectorMap .state.light-fill {
      fill: #E6E6E7;
      stroke: #E6E6E7;
      stroke-width: 1px; }
    #vectorMap .state.dark-fill {
      fill: #E6E6E7;
      stroke: #E6E6E7;
      stroke-width: 1px; }
  #vectorMap .regionBubble {
    fill-opacity: 0.75; }

.unscaledRegionOverlay .regionLabel {
  text-anchor: middle;
  stroke: none;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: .05em;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase; }
  .unscaledRegionOverlay .regionLabel.gray {
    fill: #797980; }
.unscaledRegionOverlay .regionPercent {
  text-anchor: middle;
  fill: white;
  stroke: none;
  font-size: 24px;
  letter-spacing: .03em;
  font-family: 'Libre Baskerville', serif; }
.unscaledRegionOverlay .regionLine {
  stroke: #797980; }

.interactivityInstruction {
  stroke: none;
  fill: #FF0055;
  font-family: 'Libre Baskerville', serif;
  font-size: 12px; }

.timeAxis {
  fill: none;
  stroke: black;
  stroke-width: 1; }
  .timeAxis .tick {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    stroke: none;
    fill: black; }
  .timeAxis .sliderLabel {
    stroke: none;
    fill: #FF0055;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px; }
  .timeAxis .handle {
    fill: #FF0055;
    opacity: 1;
    stroke: #fff;
    stroke-opacity: 1;
    stroke-width: 1px;
    cursor: pointer; }
  .timeAxis .sliderInstruction {
    stroke: none;
    fill: #FF0055;
    font-family: 'Libre Baskerville', serif;
    font-size: 12px; }

.dropdownLabel {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 11px;
  letter-spacing: 0.07em;
  color: #797980;
  padding-left: 0px;
  padding-bottom: 4px;
  padding-top: 60px; }

.dropdown {
  width: 190px;
  cursor: pointer;
  z-index: 10;
  display: inline-block;
  position: absolute; }
  .dropdown ul {
    margin: 0;
    border: 1px solid #A6A6AC;
    border-left: none;
    border-right: none;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #EDEDEE; }
  .dropdown::after {
    content: "";
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 4px;
    z-index: 2;
    border-right: 1px solid #A6A6AC;
    border-bottom: 1px solid #A6A6AC;
    width: 7px;
    height: 7px;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-transition: -webkit-transform 100ms;
    transition: transform 100ms; }
  .dropdown.collapsed::after {
    color: inherit;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 4px; }
  .dropdown .item {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 11px;
    font-weight: bold;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 0px 0 0px;
    color: #797980;
    height: 16px;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    overflow: hidden;
    opacity: 0.5; }
    .dropdown .item:hover {
      opacity: 1; }
    .dropdown .item.active {
      color: #FF9C00;
      opacity: 1; }
  .dropdown.collapsed .item:not(.active) {
    height: 0;
    padding: 0;
    opacity: 0; }

.trailing-bubble {
  pointer-events: none; }
  .trailing-bubble text {
    fill: #888;
    stroke: none;
    font-family: 'Open Sans', sans-serif; }
  .trailing-bubble .bold {
    font-weight: bold; }
  .trailing-bubble .mainText {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    height: 5;
    stroke: none; }
  .trailing-bubble .mainValue {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    height: 5;
    stroke: none;
    text-anchor: end; }
  .trailing-bubble .subText {
    font-weight: bold;
    font-size: 10px;
    pointer-events: none;
    x: 5; }
    .trailing-bubble .subText.subValue {
      text-anchor: end; }
    .trailing-bubble .subText.highlight {
      fill: #FF9C00; }

.chart .row {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 700;
  fill: #A6A6AC;
  text-transform: uppercase;
  text-anchor: end;
  letter-spacing: .05em; }
.chart .x-axis path, .chart .x-axis line, .chart .y-axis path, .chart .y-axis line {
  fill: none;
  stroke: #A6A6AC;
  shape-rendering: crispEdges; }
.chart .x-axis text, .chart .y-axis text {
  font-family: 'Open Sans', sans-serif;
  fill: #797980;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: .03em; }
.chart .x-axis .halfway-line, .chart .y-axis .halfway-line {
  stroke: #D1D1D4; }
.chart .benchmark {
  stroke-width: 1;
  shape-rendering: crispEdges;
  pointer-events: none; }
  .chart .benchmark text {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase; }
.chart .label {
  font-family: 'Libre Baskerville', serif;
  color: #797980;
  font-style: italic;
  font-size: 9px;
  line-height: 15px;
  letter-spacing: .09em;
  font-size: 11px;
  fill: #797980;
  letter-spacing: .07em; }

.pie text {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .05em;
  font-weight: 600;
  fill: #797980;
  -webkit-transition: fill 150ms;
  transition: fill 150ms; }
  .pie text.faded {
    fill: #A6A6AC; }
.pie .ethnicity-stats line {
  stroke-width: 1;
  shape-rendering: crispEdges; }
.pie .ethnicity-stats text {
  text-anchor: middle; }
.pie .ethnicity-stats .name {
  fill: #797980;
  font-weight: bold; }
.pie .ethnicity-stats .marker {
  font-family: 'Open Sans', sans-serif;
  fill: #A6A6AC;
  font-size: 9px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold; }
.pie .ethnicity-stats .percentage {
  font-family: 'Libre Baskerville', serif;
  fill: #797980;
  font-size: 24px;
  letter-spacing: -.01em;
  font-weight: normal; }

.quote .line {
  font-family: 'Libre Baskerville', serif;
  fill: #797980;
  fill-opacity: 0.8;
  font-size: 18px;
  font-style: italic;
  text-anchor: middle;
  letter-spacing: .03em; }
.quote .mark {
  font-family: 'Libre Baskerville', serif;
  fill: #9843A0;
  fill-opacity: 0.7;
  font-size: 72px;
  font-style: italic; }

.view-report-btn {
  cursor: pointer; }
  .view-report-btn rect {
    fill: #9843A0;
    -webkit-transition: fill 100ms;
    transition: fill 100ms; }
  .view-report-btn:hover rect {
    fill: #a94bb2; }
  .view-report-btn text {
    font-family: 'Open Sans', sans-serif;
    text-anchor: middle;
    text-transform: uppercase;
    fill: white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .03em; }

.hook {
  font-family: 'Open Sans', sans-serif;
  fill: #797980;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.01em; }

.logos {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 74px;
  z-index: 40; }
  .logos::before, .logos::after {
    content: " ";
    display: table; }
  .logos::after {
    clear: both; }
  .logos > div:not(.visible) {
    display: none;
    opacity: 0; }
  .logos .credit-suisse-logo {
    display: inline-block;
    float: left;
    padding-right: 21px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 58px;
    letter-spacing: .03em;
    color: #A6A6AC;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms; }
    .logos .credit-suisse-logo::before, .logos .credit-suisse-logo::after {
      content: " ";
      display: table; }
    .logos .credit-suisse-logo::after {
      clear: both; }
    .logos .credit-suisse-logo span {
      float: left; }
    .logos .credit-suisse-logo a {
      float: left;
      margin-left: 4px;
      display: inline-block;
      background: url(../assets/credit_suisse.png) -20px -11px;
      width: 144px;
      height: 77px;
      opacity: 0.35;
      -webkit-transition: opacity 150ms;
      transition: opacity 150ms; }
      .logos .credit-suisse-logo a:hover {
        opacity: .55; }
  .logos .williams-logo {
    display: inline-block;
    padding-right: 32px;
    margin-top: -2px;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
    float: left; }
    .logos .williams-logo a {
      display: inline-block;
      background: url(../assets/williams-institute_new.png) -18px;
      background-size: 159px;
      width: 123px;
      height: 57px;
      opacity: 0.45;
      -webkit-transition: opacity 150ms;
      transition: opacity 150ms; }
      .logos .williams-logo a:hover {
        opacity: 0.75; }

.circle-dashed {
  stroke: #666;
  -webkit-transition: stroke 450ms;
  transition: stroke 450ms; }
  .circle-dashed.light {
    stroke: #d8d8d8; }

.circle-dashed-label {
  fill: #666;
  -webkit-transition: fill 450ms;
  transition: fill 450ms; }
  .circle-dashed-label.light {
    fill: #d8d8d8; }

/*# sourceMappingURL=main.css.map */