/* Border box: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: border-box; }

/* Clear fix: http://davidwalsh.name/css-clear-fix */
.detail {
  position: absolute;
  left: 0;
  margin-top: -300px;
  width: 100%;
  z-index: 1500;
  opacity: 0;
  background: rgba(21, 32, 55, 0.965);
  border-bottom: 1px solid #373e53;
  transition-property: opacity, margin-top;
  transition-timing-function: ease-out;
  outline: none; }
  .detail::before {
    content: "";
    background: inherit;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 100%; }
  .detail.expanded {
    margin-top: 0px;
    opacity: 1;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .detail .close-btn {
    top: auto;
    bottom: 2px;
    right: -4px; }
  .detail > .heading {
    border-bottom: 1px solid #373e53;
    height: 46px;
    font-size: 26px;
    line-height: 44px;
    letter-spacing: 0.07em;
    color: #b0b3ba;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 6px;
    text-transform: capitalize;
    position: relative; }
  .detail .icons {
    position: absolute;
    top: 6px;
    right: 6px; }
  .detail .icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 200ms; }
    .detail .icon:hover, .detail .icon.active {
      opacity: 1; }
    .detail .icon.unavailable {
      opacity: 0.075;
      cursor: not-allowed; }
  .detail .caption .icon {
    width: 0px; }
    .detail .caption .icon.email {
      background: url(assets/icons/email.png);
      background-position: -3px -2px;
      width: 22px; }
    .detail .caption .icon.link {
      background: url(assets/icons/url.png);
      background-position: -3px -3px;
      width: 22px; }
    .detail .caption .icon:hover {
      opacity: 0.8; }
  .detail .icon.share {
    background: url(assets/icons/share.png);
    background-position: -3px -2px;
    width: 20px; }
  .detail .icon.mark {
    background: url(assets/icons/mark.png);
    background-position: -2px -2px; }
  .detail .icon.close {
    background: url(assets/icons/close.png);
    background-position: -4px -2px;
    width: 18px; }
  .detail .body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .detail .body .left {
      width: 270px;
      display: inline-block;
      margin: 20px 0;
      padding: 0 20px; }
      .detail .body .left .info-table {
        transition-delay: 350ms; }
    .detail .body .right {
      border-left: 1px solid #373e53;
      display: inline-block;
      margin: 20px 0;
      padding: 0 10px 0 20px;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-flex-basis: 400px;
      -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
      overflow: hidden; }
      .detail .body .right .container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .detail .body .right .container .figures {
          margin-right: 16px;
          -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          -webkit-flex-basis: 150px;
          -ms-flex-preferred-size: 150px;
          flex-basis: 150px; }
        .detail .body .right .container .info-table {
          margin-left: 16px;
          -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          -webkit-flex-basis: 150px;
          -ms-flex-preferred-size: 150px;
          flex-basis: 150px;
          margin-bottom: 10px;
          transition-delay: 550ms; }
  .detail:not(.expanded) .body .info-table, .detail:not(.expanded) .body .notes {
    opacity: 0; }
  .detail .info-table {
    transition: opacity 150ms ease-out; }
    .detail .info-table .contents {
      margin-top: 4px; }
    .detail .info-table .overflow {
      padding-right: 20px;
      border-right: 1px solid #373e53; }
      .detail .info-table .overflow .scrollbar {
        background: transparent; }
        .detail .info-table .overflow .scrollbar .thumb {
          background: #373e53; }
    .detail .info-table .row::before, .detail .info-table .row::after {
      content: " ";
      display: table; }
    .detail .info-table .row::after {
      clear: both; }
    .detail .info-table .label, .detail .info-table .value {
      font-size: 10px;
      line-height: 18px;
      letter-spacing: 0.08em; }
    .detail .info-table .label {
      float: left;
      color: #6d717e;
      padding-right: 5px; }
    .detail .info-table .value {
      float: right;
      text-align: right;
      transition-property: color;
      transition-delay: 300ms; }
      .detail .info-table .value:not(.n-a) {
        color: #9b9da6; }
  .detail .picture {
    margin: 14px auto 18px;
    width: 151px;
    height: 151px;
    border: 2px solid #dadadd;
    border-radius: 50%;
    overflow: hidden;
    background: #898c94; }
    .detail .picture img {
      transition: margin-top 250ms;
      margin-top: 100%; }
  .detail .caption {
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.1em;
    color: #858993;
    margin-bottom: 26px; }
    .detail .caption a {
      color: inherit;
      text-decoration: inherit;
      transition: color 200ms;
      display: inline-block; }
    .detail .caption a:hover {
      color: #b0b3ba; }
      .detail .caption a:hover .icon {
        opacity: 1; }
    .detail .caption .text {
      display: inline-block;
      vertical-align: top;
      line-height: 20px;
      margin-left: 5px; }
  .detail .title {
    width: 100%;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    color: #858993;
    letter-spacing: 0.2em;
    font-weight: 700;
    padding-bottom: 3px;
    border-bottom: 1px solid #373e53;
    transition-property: margin-left, opacity;
    transition-duration: inherit;
    transition-delay: inherit; }
  .detail .figures {
    display: inline-block;
    width: 300px; }
    .detail .figures .figure {
      margin-bottom: 17px;
      height: 60px; }
    .detail .figures .value {
      position: relative;
      letter-spacing: 0.06em;
      color: #b0b3ba;
      font-family: 'Oswald', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition-property: -webkit-transform, opacity;
      transition-property: transform, opacity;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-duration: inherit;
      transition-delay: inherit;
      display: inline-block;
      width: 100%;
      padding: 4px 0; }
      .detail .figures .value .swapping > * {
        display: inline-block;
        position: absolute;
        top: -5px; }
      .detail .figures .value .squeezable {
        font-size: 32px;
        line-height: 37px;
        letter-spacing: 0.06em;
        display: inline-block; }
        .detail .figures .value .squeezable.small {
          font-size: 22px;
          line-height: 25px;
          font-weight: 700;
          letter-spacing: 0.08em; }
          .detail .figures .value .squeezable.small:not(.no-padding) {
            padding: 3px 0; }
      .detail .figures .value .suffix {
        font-size: 10px;
        color: #858993;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        -webkit-font-smoothing: auto; }
    .detail .figures .sublabel {
      font-weight: 700;
      font-size: 10px;
      color: #6d717e;
      letter-spacing: 0.15em;
      line-height: 0px;
      font-family: 'Lato', sans-serif;
      -webkit-font-smoothing: auto;
      margin-top: -4px; }
  .detail:not(.expanded) .figures .figure .title {
    margin-left: -50px;
    opacity: 0; }
  .detail:not(.expanded) .figures .value {
    -webkit-transform: scale(0) translate(-100%, -100%);
    -ms-transform: scale(0) translate(-100%, -100%);
    transform: scale(0) translate(-100%, -100%);
    opacity: 0; }
  .detail .notes {
    border: 1px solid #373e53;
    font-size: 10px;
    letter-spacing: 0.1em;
    transition: opacity 150ms ease-out 750ms;
    margin-top: 11px; }
    .detail .notes .heading {
      border-bottom: 1px solid #373e53;
      text-transform: uppercase;
      padding: 3px 10px;
      color: #858993;
      font-weight: 700; }
    .detail .notes .scrollbar {
      background: none; }
      .detail .notes .scrollbar .thumb {
        background: #373e53; }
    .detail .notes .note {
      padding: 8px 10px 0; }
      .detail .notes .note:last-child {
        padding-bottom: 8px; }
    .detail .notes .user {
      display: inline-block;
      text-transform: uppercase;
      font-weight: 700;
      color: #535a6a;
      letter-spacing: 0.09em; }
    .detail .notes .date {
      display: inline-block;
      font-style: italic;
      margin-left: 10px;
      color: #535a6a;
      letter-spacing: 0.09em;
      font-weight: 300; }
    .detail .notes .text {
      margin-top: 2px;
      color: #9b9da6;
      line-height: 12px;
      letter-spacing: 0.07em; }
  .detail .shadow {
    position: absolute;
    background: rgba(21, 32, 55, 0.67); }

html, body, container {
  height: 100%;
  overflow: hidden; }

html, body, #content {
  width: 100%;
  height: 100%; }

body {
  font-family: "Lato", sans-serif;
  background: #152037;
  margin: 0;
  color: #b0b3ba; }

.fade-enter {
  opacity: 0;
  transition: opacity 650ms; }
  .fade-enter.fade-enter-active {
    opacity: 1; }

.fade-leave {
  opacity: 1;
  transition: opacity 650ms; }
  .fade-leave.fade-leave-active {
    opacity: 0; }

.slide-enter {
  margin-left: 100%;
  transition: margin-left 650ms; }
  .slide-enter.slide-enter-active {
    margin-left: 0%; }

.slide-leave {
  margin-left: 0%;
  transition: margin-left 650ms; }
  .slide-leave.slide-leave-active {
    margin-left: 100%; }

container, sidebar {
  display: block;
  position: absolute; }

sidebar > :not(scope) {
  position: relative; }
sidebar scope {
  z-index: 0; }
  sidebar scope content {
    display: block; }
  sidebar scope content > selector:not(:last-child) {
    margin-bottom: 20px; }
  sidebar scope .shade {
    position: absolute;
    background: #152037;
    z-index: 1; }

pill {
  display: inline-block;
  text-transform: capitalize;
  font-size: 10px;
  cursor: pointer;
  letter-spacing: 0.1em;
  color: #858993;
  transition: color 200ms;
  padding-right: 10px; }
  pill.current, pill:hover {
    color: #c3c5cb; }
  pill a {
    color: inherit;
    text-decoration: inherit; }

pill:not(:first-of-type)::before {
  content: "|";
  padding-right: 10px;
  color: #373e53; }

perspectives, heading, header {
  display: block;
  border-bottom: 1px solid #373e53; }

perspectives {
  height: 27px; }
  perspectives icon.barchart {
    background: url(assets/icons/barchart.png); }
  perspectives icon.cluster {
    background: url(assets/icons/cluster.png); }
  perspectives icon.map {
    background: url(assets/icons/map.png); }
  perspectives icon.scatter {
    background: url(assets/icons/scatter.png); }
  perspectives icon.talenttarget {
    background: url(assets/icons/talenttarget.png); }
  perspectives icon.table {
    background: url(assets/icons/table.png); }
  perspectives icon.hierarchy {
    background: url(assets/icons/hierarchy.png); }

heading {
  height: 46px;
  font-size: 26px;
  line-height: 46px;
  letter-spacing: 0.07em;
  color: #b0b3ba;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 6px;
  text-transform: capitalize; }

subheading {
  display: block;
  height: 82px;
  font-size: 9px;
  letter-spacing: 0.2em;
  color: #6d717e;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 6px;
  line-height: 12px;
  padding-top: 4px; }

.caret, .clear {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.caret::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 6px;
  z-index: 2;
  border: solid #535a6a;
  border-width: 0 1px 1px 0;
  width: 7px;
  height: 7px;
  -webkit-transform: translateY(3px) rotate(225deg);
  -ms-transform: translateY(3px) rotate(225deg);
  transform: translateY(3px) rotate(225deg);
  transition-property: -webkit-transform, border-color;
  transition-property: transform, border-color;
  transition-duration: 100ms;
  color: inherit; }

.caret.downfacing::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.clear {
  background: url(assets/icons/cross.png) 25px 23px;
  opacity: 0.5; }

selector {
  display: block;
  position: relative;
  transition: margin-top 150ms; }
  selector .selector-label, selector .selected-option {
    font-size: 11px;
    line-height: 19px;
    letter-spacing: .12em;
    text-transform: uppercase; }
  selector .selector-label {
    position: absolute;
    top: 1px;
    left: 5px;
    transition: top 150ms, font-size 150ms;
    color: #535a6a; }
  selector:not(:first-child).selected {
    margin-top: 34px; }
  selector.selected .selector-label {
    font-size: 10px;
    top: -18px; }
  selector .heading {
    border: solid #373e53;
    border-width: 1px 0;
    padding-left: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    transition-property: margin-top;
    transition-duration: 150ms;
    position: relative;
    overflow: hidden;
    cursor: s-resize; }
    selector .heading .selected-option {
      color: #858993;
      margin-top: 20px;
      transition-property: margin-top, padding, min-height;
      transition-duration: 150ms;
      padding: 0;
      padding-right: 18px;
      line-height: 14px;
      min-height: 0px; }
  selector.selected .heading .selected-option {
    margin-top: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    min-height: 20px; }
  selector.selected:not(.noLabel) .heading {
    margin-top: 14px; }
  selector .options, selector .values {
    margin-top: -1px;
    border-bottom: 1px solid #373e53; }
    selector .options .value, selector .values .value {
      transition-property: height, opacity, font-size, padding-top;
      transition-duration: 150ms;
      opacity: 1;
      height: 17px;
      padding-left: 5px;
      font-size: 11px;
      letter-spacing: .12em;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      selector .options .value .text, selector .values .value .text {
        width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      selector .options .value .count, selector .values .value .count {
        word-spacing: -3px; }
      selector .options .value:first-of-type, selector .values .value:first-of-type {
        padding-top: 8px;
        height: 26px; }
      selector .options .value:last-of-type, selector .values .value:last-of-type {
        height: 21px; }
      selector .options .value:first-of-type:last-of-type, selector .values .value:first-of-type:last-of-type {
        height: 29px; }
      selector .options .value:hover, selector .options .value.selected, selector .values .value:hover, selector .values .value.selected {
        color: #c3c5cb; }
        selector .options .value:hover *, selector .options .value.selected *, selector .values .value:hover *, selector .values .value.selected * {
          color: #c3c5cb !important; }
    selector .options .rings, selector .values .rings {
      position: relative;
      margin-top: 15px;
      margin-bottom: 10px; }
      selector .options .rings .ringContainer, selector .values .rings .ringContainer {
        position: absolute;
        bottom: 0px; }
        selector .options .rings .ringContainer .ring, selector .values .rings .ringContainer .ring {
          border-radius: 50%;
          border: 1px solid #535a6a; }
        selector .options .rings .ringContainer .ringLine, selector .values .rings .ringContainer .ringLine {
          width: 168px;
          height: 1px;
          background: #535a6a;
          top: 0;
          position: inherit; }
      selector .options .rings .ringLabel, selector .values .rings .ringLabel {
        position: absolute;
        font-size: 12px;
        color: #535a6a;
        right: 0; }
    selector .options .colored-bullet, selector .values .colored-bullet {
      display: inline-block;
      position: relative;
      width: 6px;
      height: 6px;
      margin: 4px 0 1px 3px;
      vertical-align: top;
      border-radius: 50%; }
  selector:not(.expanded) .options .value {
    height: 0px !important;
    opacity: 0;
    font-size: 0px;
    padding-top: 0px; }
  selector .values {
    color: #676974;
    position: relative; }
    selector .values switch {
      position: absolute;
      top: 0;
      left: 100%;
      display: none;
      padding-left: 5px;
      width: 16px;
      line-height: 29px;
      font-size: 11px;
      cursor: pointer;
      color: #535a6a;
      transition-property: color;
      transition-duration: 150ms; }
      selector .values switch:hover {
        color: #c3c5cb; }
  selector .values:hover switch {
    display: inline-block; }
  selector .options {
    color: #535a6a; }
    selector .options .value {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }

.histogram {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .histogram .axis {
    fill: #535a6a;
    font-size: 11px; }
    .histogram .axis line, .histogram .axis path {
      fill: none;
      stroke: #535a6a;
      stroke-dasharray: none; }

icon.config {
  background: url(assets/icons/setting.png);
  position: absolute;
  top: -1px;
  right: -6px; }

icon.help {
  background: url(assets/icons/help.png);
  position: absolute;
  top: -1px;
  right: -6px; }

config {
  display: block;
  position: absolute;
  left: 100px;
  right: 100px;
  top: 100px;
  bottom: 100px;
  padding: 20px;
  background: rgba(176, 179, 186, 0.9);
  z-index: 200; }
  config x {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 8px;
    cursor: pointer;
    transition: opacity 100ms;
    opacity: 0.6;
    top: 5px; }
    config x:hover {
      opacity: 1; }

.guide {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
  background-color: #1e2640;
  text-align: center;
  cursor: pointer; }
  .guide img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%; }
  .guide x {
    display: block;
    background: url(assets/icons/big_cross.png);
    background-position: -5px 0;
    position: absolute;
    margin: 20px;
    width: 22px;
    height: 22px;
    top: -1px;
    right: -6px;
    cursor: pointer;
    transition: opacity 100ms;
    opacity: 0.6; }
    .guide x:hover {
      opacity: 1; }

main, header, stage {
  display: block;
  position: absolute; }

header {
  z-index: 2000;
  background: #152037; }

.global-ew-resize * {
  cursor: ew-resize !important; }

.global-grabbing * {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important; }

.global-selecting * {
  cursor: crosshair !important; }

.naked {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  color: inherit;
  overflow: inherit;
  resize: none;
  vertical-align: top;
  text-align: inherit;
  font: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  background: transparent;
  border-radius: inherit; }

scope {
  display: block;
  position: absolute;
  overflow: hidden; }

rowContainer {
  display: block;
  position: absolute; }

row {
  display: block;
  position: absolute;
  background: #152037;
  transition: width 300ms, background 300ms, top 1000ms, color 150ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 10px;
  line-height: 17px;
  letter-spacing: .12em;
  color: #b0b3ba; }
  row.odd {
    background: #202a41; }
  row.flagged {
    background: #4b5362; }
  row.odd.flagged {
    background: #3f485a; }
  row.deselected {
    color: rgba(176, 179, 186, 0.3); }
  row.deselected.flagged {
    color: rgba(218, 219, 221, 0.3); }

.scrollbar {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  background: #202a41; }
  .scrollbar.vertical {
    left: 100%; }
  .scrollbar.horizontal {
    top: 100%; }
  .scrollbar .thumb {
    position: absolute;
    cursor: -webkit-grab;
    cursor: grab;
    background: #535a6a; }

.truncation-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(21, 32, 55, 0.67);
  opacity: 1;
  transition: opacity 300ms;
  pointer-events: none; }
  .truncation-indicator.top {
    top: 0; }
  .truncation-indicator.bottom {
    bottom: 0; }
  .truncation-indicator.left {
    left: 0; }
  .truncation-indicator.right {
    right: 0; }
  .truncation-indicator.top, .truncation-indicator.bottom {
    height: 4px;
    left: 0;
    z-index: 1000; }
  .truncation-indicator.left, .truncation-indicator.right {
    width: 4px;
    top: 0;
    z-index: 1002; }

bar {
  position: absolute;
  top: 0;
  display: inline-block;
  pointer-events: none; }
  bar.grouped {
    transition-property: width, height, left, top, background-color, opacity;
    transition-duration: 1000ms, 1000ms, 1000ms, 1000ms, 500ms, 500ms;
    transition-delay: 0ms, 0ms, 1000ms, 1000ms, 0ms, 0ms; }
  bar.stacked {
    transition-property: width, height, left, top, background-color, opacity;
    transition-duration: 1000ms, 1000ms, 1000ms, 1000ms, 500ms, 500ms;
    transition-delay: 0ms, 1000ms, 0ms, 0ms, 0ms, 0ms; }

tick {
  display: inline-block;
  position: absolute;
  pointer-events: none;
  z-index: 1200;
  font-size: 10px;
  color: #6d717e;
  letter-spacing: 0.03em;
  white-space: nowrap;
  font-weight: bold; }
  tick:not(:first-of-type) {
    border: 0 solid rgba(255, 255, 255, 0.1);
    border-left-width: 1px;
    padding-left: 4px; }

.table:not(icon), .bar-chart:not(icon) {
  position: absolute; }

.bar-chart row {
  cursor: pointer; }

.table attributes {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: #152037;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1001; }
.table attribute, .table .menu, .table .plus-sign {
  display: block;
  position: absolute;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: .12em;
  color: #535a6a;
  font-weight: bold;
  border: 1px solid #373e53;
  line-height: 17px;
  padding: 0 10px;
  background: #152037;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }
  .table attribute sort-indicator, .table .menu sort-indicator, .table .plus-sign sort-indicator {
    background: url(assets/icons/sort.png) -9px -11px;
    width: 9px;
    height: 7px;
    display: inline-block;
    margin-left: 5px;
    transition: -webkit-transform 100ms;
    transition: transform 100ms;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0.6; }
  .table attribute sort-indicator.descending, .table .menu sort-indicator.descending, .table .plus-sign sort-indicator.descending {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  .table attribute x, .table .menu x, .table .plus-sign x {
    position: absolute;
    top: 0;
    right: 0;
    margin: 3px 2px;
    opacity: 0; }
  .table attribute:hover x, .table .menu:hover x, .table .plus-sign:hover x {
    opacity: 0.5; }
    .table attribute:hover x:hover, .table .menu:hover x:hover, .table .plus-sign:hover x:hover {
      opacity: 1; }
  .table attribute .shadow, .table .menu .shadow, .table .plus-sign .shadow {
    position: absolute;
    top: -1px;
    width: 4px;
    margin: 0 1px;
    background: rgba(21, 32, 55, 0.67);
    z-index: 999;
    opacity: 1;
    transition: opacity 300ms;
    pointer-events: none; }
    .table attribute .shadow:first-of-type, .table .menu .shadow:first-of-type, .table .plus-sign .shadow:first-of-type {
      right: 100%; }
    .table attribute .shadow:last-of-type, .table .menu .shadow:last-of-type, .table .plus-sign .shadow:last-of-type {
      left: 100%; }
.table .menu {
  padding: 0; }
.table .menu-item {
  padding: 0 10px;
  transition: color 100ms; }
  .table .menu-item:hover {
    color: #9b9da6; }
.table .plus-sign {
  padding: 0 2px 0 4px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 100;
  text-align: center;
  color: #858993;
  z-index: 1003; }
.table value {
  display: block;
  position: absolute;
  padding: 0 10px;
  border-style: solid;
  border-width: 0 1px;
  border-color: transparent; }
  .table value span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%; }
.table row:first-of-type value::before {
  content: " ";
  display: block;
  background: inherit;
  border: inherit;
  position: absolute;
  bottom: 100%;
  height: 20px;
  left: -1px;
  right: -1px; }
.table value, .table attribute, .table .menu, .table .plus-sign, .table .plus-sign {
  transition-property: background, border-color, width, left, z-index;
  transition-duration: 300ms; }
.table attribute.highlighted, .table .highlighted.menu, .table .highlighted.plus-sign {
  z-index: 101; }
.table value.highlighted {
  z-index: 99; }
.table .highlighted, .table .plus-sign:hover {
  border-color: #373e53; }
.table value.highlighted, .table attribute.highlighted, .table .highlighted.menu, .table .highlighted.plus-sign, .table .plus-sign:hover {
  background: #283248; }
.table row.odd value.highlighted {
  background: #31384e; }
.table row.flagged value.highlighted {
  background: #4b5362; }
.table row.flagged.odd value.highlighted {
  background: #3f485a; }

.n-a {
  font-style: italic;
  color: #373e53; }

svg.labels {
  pointer-events: none;
  z-index: 10; }

stage canvas, stage svg {
  position: absolute;
  top: 0;
  left: 0; }

svg.path-interpolation {
  visibility: hidden; }
  svg.path-interpolation path {
    stroke-width: 2px;
    stroke: white;
    fill: none; }

svg .label {
  fill: #b0b3ba;
  transition: fill 100ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  cursor: pointer;
  text-anchor: middle;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 11px; }
  svg .label:hover {
    fill: #dadbdd; }
  svg .label.dark {
    fill: #152037; }
  svg .label.blobSet {
    pointer-events: all; }
  svg .label.n-a {
    text-transform: lowercase;
    fill-opacity: 0.4;
    font-style: italic; }

.blobs {
  transition: opacity 600ms; }
  .blobs.hidden {
    opacity: 0; }

:not(icon).map {
  opacity: 0.05;
  pointer-events: none; }
  :not(icon).map .country {
    fill: #293447; }

.logo {
  display: inline-block;
  position: absolute;
  left: 9px;
  bottom: -10px;
  background: url(assets/tl_logo.png);
  width: 168px;
  height: 36px; }

.export-button {
  text-transform: uppercase; }
  .export-button::after {
    content: "";
    display: inline-block;
    background: url(assets/export.png) 17px 18px;
    width: 10px;
    height: 8px;
    margin-left: 7px;
    opacity: 1;
    transition: opacity 200ms; }
  .export-button:not(:hover)::after {
    opacity: 0.5; }

icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  opacity: 0.25;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: top; }
  icon:not(.disabled) {
    cursor: pointer;
    transition: opacity 200ms; }
    icon:not(.disabled):hover, icon:not(.disabled).current {
      opacity: 1; }
    icon:not(.disabled):active {
      margin-top: 1px; }
  icon.unavailable {
    opacity: 0.075;
    cursor: not-allowed; }

.flag-selector {
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 1px;
  margin-right: 22px; }
  .flag-selector.focused {
    overflow: auto; }
  .flag-selector icon {
    background: url(assets/icons/search.png);
    cursor: text; }
  .flag-selector input, .flag-selector .flag-item {
    width: 200px;
    padding: 6px 3px;
    font-size: 10px;
    letter-spacing: 0.1em;
    color: #b0b3ba;
    transition: color 750ms ease-out; }
    .flag-selector input.highlighted, .flag-selector .flag-item.highlighted {
      color: #dadbdd; }
    .flag-selector input.unrecognized, .flag-selector .flag-item.unrecognized {
      text-decoration: line-through; }
    .flag-selector input::-webkit-input-placeholder, .flag-selector .flag-item::-webkit-input-placeholder {
      color: #6d717e; }
    .flag-selector input::-moz-placeholder, .flag-selector .flag-item::-moz-placeholder {
      color: #6d717e; }
    .flag-selector input:-ms-input-placeholder, .flag-selector .flag-item:-ms-input-placeholder {
      color: #6d717e; }
    .flag-selector input::placeholder, .flag-selector .flag-item::placeholder {
      color: #6d717e; }
    .flag-selector input:focus::-webkit-input-placeholder, .flag-selector .flag-item:focus::-webkit-input-placeholder {
      color: transparent; }
    .flag-selector input:focus::-moz-placeholder, .flag-selector .flag-item:focus::-moz-placeholder {
      color: transparent; }
    .flag-selector input:focus:-ms-input-placeholder, .flag-selector .flag-item:focus:-ms-input-placeholder {
      color: transparent; }
    .flag-selector input:focus::placeholder, .flag-selector .flag-item:focus::placeholder {
      color: transparent; }
  .flag-selector .flag-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer; }

x {
  display: inline-block;
  background: url(assets/icons/cross.png) -7px -9px;
  width: 13px;
  height: 11px;
  margin: 0px 2px 1px 1px;
  vertical-align: middle;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 200ms; }
  x:hover {
    opacity: 1; }

flags {
  position: absolute;
  pointer-events: none;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  overflow: hidden;
  z-index: 20; }
  flags flag {
    pointer-events: all;
    opacity: 0.85;
    transition-property: left, top;
    transition-duration: 1400ms; }
    flags flag:hover {
      z-index: 100; }
    flags flag .contents {
      padding: 5px 7px;
      text-transform: uppercase; }
    flags flag.top .contents {
      bottom: 0; }
    flags flag.left .contents {
      right: 0; }
    flags flag.top.left .arrow {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    flags flag.bottom.right .arrow {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    flags flag.bottom.left .arrow {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

flag, bubble {
  position: absolute;
  display: block;
  background: #dadbdd;
  font-size: 10px;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #484f60; }
  flag .arrow, bubble .arrow {
    position: absolute;
    fill: #dadbdd;
    stroke: #152037;
    stroke-width: 1px;
    transition-property: margin-top, margin-left, -webkit-transform, -webkit-transform;
    transition-property: margin-top, margin-left, transform, -webkit-transform;
    transition-duration: 200ms;
    transition-timing-function: ease-out; }
  flag .contents, bubble .contents {
    display: block;
    position: absolute;
    margin: 10px;
    background: inherit;
    border: 1px solid #152037;
    transition-property: opacity, left, top, width, height;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    overflow: hidden; }
  flag.top .arrow, bubble.top .arrow {
    margin-top: -16px; }
  flag.left .arrow, bubble.left .arrow {
    margin-left: -16px; }

bubble {
  z-index: 1000;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  pointer-events: none; }
  bubble .contents {
    width: 0;
    height: 0; }
    bubble .contents > * {
      transition-property: opacity;
      transition-duration: 100ms; }
    bubble .contents.washed > * {
      opacity: 0;
      transition-duration: 0; }
  bubble .header, bubble .body {
    width: 203px; }
    bubble .header .heading, bubble .body .heading {
      font-size: 12px;
      font-weight: 900;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      -webkit-transform: scale(1, 0.87);
      -ms-transform: scale(1, 0.87);
      transform: scale(1, 0.87); }
    bubble .header .subheading, bubble .body .subheading {
      font-weight: 400;
      font-size: 10px;
      line-height: 11px;
      letter-spacing: 0.09em; }
  bubble .header {
    padding: 6px 7px 5px;
    min-height: 37px; }
  bubble .body {
    padding: 4px 7px 6px;
    border-top: 1px solid #152037;
    font-size: 10px;
    line-height: 13px; }
    bubble .body .figure::before, bubble .body .figure::after {
      content: " ";
      display: table; }
    bubble .body .figure::after {
      clear: both; }
    bubble .body .figure .name {
      float: left;
      font-weight: 400;
      letter-spacing: 0.07em;
      margin-right: 5px; }
    bubble .body .figure .value {
      float: right;
      font-weight: 700;
      letter-spacing: 0.1em;
      text-align: right; }

.filter-indicator {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .filter-indicator .filters {
    margin: 5px 0 6px;
    height: 34px;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #858993; }
    .filter-indicator .filters .label {
      display: inline-block;
      text-transform: none;
      content: "Population:";
      margin-right: 5px; }
  .filter-indicator .filter {
    display: inline-block;
    vertical-align: top; }
    .filter-indicator .filter:not(.filter-enter):not(.filter-leave) {
      transition-property: font-family, font-size, line-height, letter-spacing, color;
      transition-duration: 250ms;
      transition-timing-function: ease-out; }
    .filter-indicator .filter:not(.selection)::after, .filter-indicator .filter.selection::before {
      content: ">";
      display: inline-block;
      padding: 0px;
      font-size: 0px;
      transition-property: padding, font-size;
      transition-duration: 250ms; }
    .filter-indicator .filter:not(.last)::after, .filter-indicator .filter.selection::before {
      padding: 0 5px;
      font-size: 10px; }
    .filter-indicator .filter:not(.last) {
      cursor: pointer; }
    .filter-indicator .filter.last {
      font-size: 30px;
      margin-left: 1px;
      line-height: 36px;
      letter-spacing: 0.05em;
      font-family: 'Oswald', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .filter-indicator .filter.last, .filter-indicator .filter.selection {
      color: #b0b3ba; }
    .filter-indicator .filter.filter-enter {
      font-size: 0;
      line-height: 0; }
      .filter-indicator .filter.filter-enter::before {
        padding: 0;
        font-size: 0; }
    .filter-indicator .filter.filter-enter-active {
      transition-property: font-size, line-height, padding;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      font-size: 30px;
      line-height: 36px; }
      .filter-indicator .filter.filter-enter-active::before {
        padding: 0 5px;
        font-size: 10px;
        transition-property: font-size, line-height, padding;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .filter-indicator .filter.filter-leave {
      font-size: 30px;
      line-height: 36px; }
      .filter-indicator .filter.filter-leave::before {
        padding: 0 5px;
        font-size: 10px; }
    .filter-indicator .filter.filter-leave-active {
      transition-property: font-size, line-height;
      transition-duration: 250ms;
      transition-timing-function: ease-out;
      font-size: 0px;
      line-height: 0px; }
      .filter-indicator .filter.filter-leave-active::before {
        padding: 0;
        font-size: 0;
        transition-property: font-size, line-height, padding;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .filter-indicator .divider {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 133px;
    border-top: 1px solid #373e53; }
  .filter-indicator .view-report-btn {
    display: inline-block;
    text-transform: uppercase;
    margin-top: 1px;
    padding: 5px 1px;
    color: #858993;
    font-size: 9px;
    letter-spacing: 0.2em;
    font-weight: bold;
    vertical-align: top;
    line-height: 10px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: color 200ms; }
    .filter-indicator .view-report-btn.disabled {
      cursor: not-allowed;
      opacity: 0.2; }
    .filter-indicator .view-report-btn:not(.disabled):hover {
      color: #c3c5cb; }
    .filter-indicator .view-report-btn::after {
      content: "";
      display: inline-block;
      background: url(assets/icons/report.png) 18px 19px;
      width: 9px;
      height: 9px;
      margin-left: 6px;
      opacity: 0.6;
      transition: opacity 200ms; }
    .filter-indicator .view-report-btn:not(:hover)::after, .filter-indicator .view-report-btn.disabled::after {
      opacity: 0.3; }

.aggregate-stats {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .aggregate-stats .figures::before, .aggregate-stats .figures::after {
    content: " ";
    display: table; }
  .aggregate-stats .figures::after {
    clear: both; }
  .aggregate-stats .figure:nth-child(1) {
    float: left; }
  .aggregate-stats .figure:nth-child(2) {
    float: right; }
  .aggregate-stats .figure .label {
    text-align: right;
    font-size: 10px;
    color: #6d717e;
    letter-spacing: 0.1em;
    font-weight: 700;
    padding-bottom: 3px;
    border-bottom: 1px solid #373e53; }
  .aggregate-stats .figure .value {
    text-align: right;
    padding: 4px 0; }
    .aggregate-stats .figure .value .number {
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 0.05em;
      color: #b0b3ba;
      font-family: 'Oswald', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .aggregate-stats .figure .value .suffix {
      font-size: 10px;
      color: #858993;
      text-transform: uppercase; }
  .aggregate-stats selector {
    margin-top: 0px !important; }
    .aggregate-stats selector .selector-label, .aggregate-stats selector .selected-option {
      font-size: 10px; }

.area-selection {
  pointer-events: none;
  stroke: #ccc;
  stroke-width: 1;
  stroke-dasharray: 3 3;
  fill: rgba(255, 255, 255, 0.05); }

rect.area-selection {
  shape-rendering: crispEdges; }

.scatter:not(icon) {
  font-size: 10px;
  color: #6d717e;
  font-weight: bold;
  line-height: 12px;
  pointer-events: none; }
  .scatter:not(icon) .axis {
    fill: none; }
    .scatter:not(icon) .axis .domain, .scatter:not(icon) .axis .tick line {
      stroke: #373e53;
      shape-rendering: crspEdges;
      stroke-width: 1.1px; }
    .scatter:not(icon) .axis .tick {
      fill: #6d717e;
      font-weight: bold; }
  .scatter:not(icon) .axisLabel {
    font-size: 10px;
    fill: #6d717e;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 0.1em; }
  .scatter:not(icon) .area {
    position: absolute;
    background-color: white; }

.controls .control {
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 9px;
  color: #6d717e;
  transition: color 200ms; }
  .controls .control:hover, .controls .control.active {
    color: #b0b3ba; }
    .controls .control:hover::before, .controls .control.active::before {
      opacity: 0.6; }
  .controls .control::before {
    content: "";
    display: inline-block;
    background-image: url(assets/icons/empty.png);
    background-position: -10px -10px;
    width: 9px;
    height: 9px;
    opacity: 0.3;
    transition: opacity 200ms;
    vertical-align: bottom;
    margin-right: 5px;
    margin-bottom: 2px; }
  .controls .control.active::before {
    background-image: url(assets/icons/fill.png); }

.viewNumbersAs {
  margin-top: 10px;
  margin-left: 5px; }
  .viewNumbersAs .label {
    padding-left: 1px;
    text-transform: uppercase;
    color: #6d717e;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.multiselector {
  margin-bottom: 20px; }
  .multiselector selector:not(:first-of-type) {
    margin-top: 20px; }
  .multiselector.compact selector:not(:first-of-type) {
    margin-top: -1px; }
  .multiselector .add {
    display: inline-block;
    padding-right: 5px;
    font-size: 11px;
    color: #6d717e;
    letter-spacing: 0.1em;
    font-weight: 400;
    cursor: pointer;
    transition: color 100ms; }
    .multiselector .add strong {
      font-size: 15.4px;
      color: #c3c5cb;
      padding: 0 3px 0 5px;
      font-weight: 100;
      transition: color 100ms; }
    .multiselector .add span {
      vertical-align: top;
      display: inline-block;
      margin-top: 2px; }
    .multiselector .add:hover {
      color: #9b9da6; }
      .multiselector .add:hover strong {
        color: #ededee; }

.weighting {
  position: relative;
  height: 29px;
  border-bottom: 1px solid #373e53; }
  .weighting .value-container {
    float: right; }
    .weighting .value-container input {
      margin: 6px 0;
      border: 1px solid #535a6a;
      padding: 1px 3px;
      font-size: 10px;
      text-align: right;
      letter-spacing: 0.07em;
      color: #9b9da6;
      transition: color 100ms; }
      .weighting .value-container input:hover, .weighting .value-container input:focus {
        color: #c3c5cb; }
  .weighting .slider + .value-container .dropdown:not(.expanded) .value {
    max-width: 84px; }

.slider .head, .slider .tail {
  transition-property: width, background;
  transition-duration: 0; }
.slider .thumb {
  transition-property: opacity;
  transition-duration: 100ms; }
.slider .value-label {
  position: absolute;
  margin-left: -20px;
  bottom: -7px;
  width: 50px;
  text-align: center;
  font-size: 10px;
  transition-property: opacity;
  transition-duration: 100ms;
  pointer-events: none; }
  .slider .value-label span {
    background: #152037;
    padding: 0 3px; }

.dropdown {
  font-size: 11px;
  letter-spacing: 0.1em;
  line-height: 15px; }
  .dropdown.hidden {
    display: none; }
  .dropdown .scope {
    outline: none;
    position: absolute;
    overflow: hidden;
    max-height: 156px; }
    .dropdown .scope.sidebar {
      right: 0; }
    .dropdown .scope.drop-up {
      bottom: 0; }
  .dropdown .scrollbar {
    background: none; }
    .dropdown .scrollbar .thumb {
      background: #5c616d; }
  .dropdown .values {
    padding-right: 14px;
    background: transparent;
    transition-property: background, width, height;
    transition-duration: 100ms; }
    .dropdown .values .value {
      padding: 7px 8px 8px;
      line-height: 13px;
      cursor: pointer;
      overflow: hidden;
      color: #858993;
      transition-property: font-size, padding, height, color, max-width;
      transition-duration: inherit; }
      .dropdown .values .value.collapsed {
        height: 0px;
        font-size: 0px;
        padding: 0; }
  .dropdown .caret {
    top: 4px;
    z-index: 100; }
    .dropdown .caret::after {
      border-color: #9b9da6; }
  .dropdown .drop-up .caret {
    top: auto;
    bottom: 4px; }
  .dropdown:hover .value {
    color: #c3c5cb; }
  .dropdown:hover .caret::after {
    border-color: #c3c5cb; }
  .dropdown.expanded .scope {
    z-index: 1000; }
  .dropdown.expanded .values {
    background: #dddddf;
    opacity: 0.9; }
    .dropdown.expanded .values .value {
      color: #373e53; }
      .dropdown.expanded .values .value:hover {
        color: #858993; }
      .dropdown.expanded .values .value:not(:first-of-type) {
        padding-top: 4px; }
      .dropdown.expanded .values .value:not(:last-of-type) {
        padding-bottom: 3px; }
  .dropdown.expanded .truncation-indicator {
    background: rgba(21, 32, 55, 0.2); }
  .dropdown.expanded .caret {
    z-index: 1000; }
  .dropdown.expanded .caret::after {
    border-color: #373e53; }
  .dropdown.expanded .caret:hover::after {
    border-color: #6d717e; }
  .dropdown:not(.expanded) .value {
    max-width: 181px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

.target-ring {
  stroke: #373e53;
  stroke-width: 0.75px;
  fill: none; }

.relationship-group {
  cursor: pointer; }

.relationship {
  fill: none;
  stroke: #535a6a;
  stroke-width: 1px;
  transition-property: opacity, stroke-width, stroke;
  transition-duration: 300ms; }
  .relationship.highlight {
    stroke: white; }

.hierarchy-perspective {
  fill: none;
  stroke: #373e53; }

.highlight-circle {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 300ms; }

.overlay {
  pointer-events: none; }
  .overlay .blob-frame:not(.overlay-enter):not(.overlay-leave) {
    opacity: 0.5; }
  .overlay .blob-frame.overlay-enter {
    opacity: 0;
    transition: opacity 300ms; }
  .overlay .blob-frame.overlay-enter-active {
    opacity: 0.5; }
  .overlay .blob-frame.overlay-leave {
    opacity: 0.5;
    transition: opacity 300ms; }
  .overlay .blob-frame.overlay-leave-active {
    opacity: 0; }
  .overlay .blob-frame.blob-set {
    opacity: 0.25; }
    .overlay .blob-frame.blob-set.overlay-enter {
      opacity: 0;
      transition: opacity 300ms; }
    .overlay .blob-frame.blob-set.overlay-enter-active {
      opacity: 0.25; }
    .overlay .blob-frame.blob-set.overlay-leave {
      opacity: 0.25;
      transition: opacity 300ms; }
    .overlay .blob-frame.blob-set.overlay-leave-active {
      opacity: 0; }

.sector {
  fill: #202a41;
  transition: fill 250ms; }
  .sector.active {
    fill: #535a6a; }
  .sector.active.hovered {
    fill: #9b9da6; }

.splash-container {
  position: relative;
  height: 100%; }
  .splash-container .landing-button {
    background: url(assets/splash_page/landing_bigger.svg) -378px -250px;
    background-size: 1024px 768px;
    width: 268px;
    height: 268px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -134px;
    margin-top: -134px; }
    .splash-container .landing-button.activated {
      cursor: pointer; }
  .splash-container .start-button-background {
    background-color: #152037;
    width: 230px;
    height: 230px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -115px;
    margin-top: -115px;
    display: inherit; }
    .splash-container .start-button-background.hidden {
      display: none; }
  .splash-container .start-button {
    background: url(assets/splash_page/landing_button.svg) -408px -279px;
    background-size: 1024px 768px;
    width: 210px;
    height: 210px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -105px;
    margin-top: -105px;
    cursor: pointer; }
    .splash-container .start-button.hover {
      background: url(assets/splash_page/updated_launch.svg) -408px -279px; }
  .splash-container .start-label {
    top: 50%;
    left: 50%;
    width: 200px;
    height: 50px;
    margin-left: -100px;
    margin-top: 132px;
    position: absolute;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.12em;
    color: #9b9da6;
    text-align: center; }
    .splash-container .start-label.hidden {
      opacity: 0; }
  .splash-container .options-button {
    background: url(assets/splash_page/settings.svg) -469px -341px;
    background-size: 1024px 768px;
    width: 86px;
    height: 86px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: 178px;
    margin-top: -43.01px;
    cursor: pointer; }
    .splash-container .options-button.hover {
      background: url(assets/splash_page/settings_hover.svg) -469px -341px; }
  .splash-container .options-label {
    top: 50%;
    left: 50%;
    width: 200px;
    height: 50px;
    margin-left: 121px;
    margin-top: 70px;
    position: absolute;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.12em;
    color: #9b9da6;
    text-align: center; }
    .splash-container .options-label.hidden {
      opacity: 0; }
  .splash-container .upload-button {
    background: url(assets/splash_page/upload.svg) -469px -341px;
    background-size: 1024px 768px;
    width: 86px;
    height: 86px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -264px;
    margin-top: -43.01px;
    cursor: pointer; }
    .splash-container .upload-button.hover {
      background: url(assets/splash_page/upload_hover.svg) -469px -341px; }
  .splash-container .upload-label {
    top: 50%;
    left: 50%;
    width: 200px;
    height: 50px;
    margin-left: -317px;
    margin-top: 70px;
    position: absolute;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.12em;
    color: #9b9da6;
    text-align: center; }
    .splash-container .upload-label.hidden {
      opacity: 0; }
  .splash-container .upload-area {
    cursor: pointer; }
  .splash-container .legal-container {
    background: rgba(21, 32, 55, 0.965);
    width: 100%;
    height: 100%; }
  .splash-container .legal-header {
    background: inherit;
    border: 1px solid #535a6a;
    width: 92%;
    height: 30px;
    left: 4%;
    top: 5%;
    position: absolute;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #858993;
    z-index: 1; }
  .splash-container .legal-body {
    background: inherit;
    border: 1px solid #535a6a;
    border-top: none;
    width: 92%;
    height: 78%;
    left: 4%;
    top: 8%;
    position: absolute;
    overflow: hidden;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 10px;
    color: #858993;
    letter-spacing: 0.08em; }
    .splash-container .legal-body p:first-child {
      margin-top: 0; }
    .splash-container .legal-body b {
      font-weight: bold;
      font-size: 10px;
      letter-spacing: 0.12em;
      text-transform: uppercase; }
  .splash-container .button {
    padding-top: 5px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.12em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .splash-container .button.accept {
      background-color: #535a6a;
      transition: background-color 200ms;
      width: 113px;
      height: 26px;
      left: 51%;
      top: 90%;
      color: #dadbdd;
      cursor: pointer; }
      .splash-container .button.accept:hover {
        background-color: #5e6678; }
      .splash-container .button.accept.only {
        margin-left: -57px; }
    .splash-container .button.goback {
      background-color: #373e53;
      transition: background-color 200ms;
      width: 113px;
      height: 26px;
      right: 51%;
      top: 90%;
      position: absolute;
      color: #6d717e;
      cursor: pointer; }
      .splash-container .button.goback:hover {
        background-color: #414a62; }
  .splash-container .loading-arc-background {
    fill: #373e53; }
    .splash-container .loading-arc-background.hidden {
      opacity: 0; }
  .splash-container .loading-arc {
    fill: #6d717e;
    transition-property: fill;
    transition-duration: 1000ms; }
    .splash-container .loading-arc.done {
      fill: #b0b2b7; }
  .splash-container .file-upload {
    opacity: 0;
    width: 86px;
    height: 86px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -264px;
    margin-top: -43px;
    cursor: pointer; }

.blob-threshold-msg {
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 11px;
  cursor: pointer;
  color: #858993;
  transition: color 200ms; }
  .blob-threshold-msg:hover {
    color: #b0b3ba; }

/*# sourceMappingURL=main.css.map */